.device LFE5U-85F

.comment Part: LFE5U-85F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R1C10:CIB
arc: E1_H02E0701 V06N0203

.tile CIB_R1C114:CIB
arc: JA0 V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C11:CIB
enum: CIB.JB0MUX 0

.tile CIB_R1C12:CIB
arc: JA0 W1_H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C16:CIB
arc: E1_H02E0701 V06N0203

.tile CIB_R1C18:CIB
arc: JA0 W1_H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C3:CIB
arc: E1_H02E0501 V01N0101

.tile CIB_R1C5:CIB
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C6:CIB
arc: JA0 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R1C74:CIB
enum: CIB.JB0MUX 0

.tile CIB_R1C7:CIB
arc: W1_H02W0501 V06N0303
enum: CIB.JB0MUX 0

.tile CIB_R1C80:CIB
enum: CIB.JB0MUX 0

.tile CIB_R1C81:CIB
enum: CIB.JB0MUX 0

.tile CIB_R39C1:CIB_LR
arc: S3_V06S0103 H06W0103

.tile CIB_R45C1:CIB_LR
arc: S3_V06S0203 N3_V06S0103

.tile CIB_R46C4:CIB_EBR
arc: N1_V02N0201 S3_V06N0103
arc: N3_V06N0103 S3_V06N0003

.tile CIB_R50C1:CIB_LR
arc: JD7 E1_H02W0001
enum: CIB.JB0MUX 0

.tile CIB_R51C1:CIB_LR
arc: S1_V02S0701 N3_V06S0203

.tile CIB_R52C1:CIB_LR
arc: H00R0000 E1_H02W0601
arc: JA0 H00R0000
arc: JA3 V02S0701
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R58C3:CIB_DSP
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R58C4:CIB_DSP
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R5C125:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C3:CIB_EBR
arc: N3_V06N0003 S3_V06N0303

.tile CIB_R70C4:CIB_EBR
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R82C3:CIB_EBR
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R82C4:CIB_EBR
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R94C123:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C3:CIB_PLL3
arc: N3_V06N0103 E1_H01W0100
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C46:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C47:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C48:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C49:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C4:CIB
arc: H01W0100 JF4
arc: N1_V01N0101 JF5
arc: N1_V02N0601 JF6
arc: N3_V06N0103 JQ1
arc: N3_V06N0203 JF7
arc: N3_V06N0303 JQ5

.tile CIB_R94C50:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C51:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C52:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C53:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C54:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C55:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C56:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C57:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R94C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C71:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C72:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C73:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C74:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C75:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C76:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C77:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C78:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C79:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R94C80:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C81:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C82:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile MIB_R0C114:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C11:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C123:BANKREF1
enum: BANK.VCCIO 1V8

.tile MIB_R0C12:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C18:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C3:BANKREF0
enum: BANK.VCCIO 1V8

.tile MIB_R0C5:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C6:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C74:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C7:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C80:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C81:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C114:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C11:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C12:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C18:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C5:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C6:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C74:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C7:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C80:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C81:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R22C12:EBR_SPINE_UL2
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R22C67:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0000

.tile MIB_R22C68:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0000

.tile MIB_R46C3:LMID_0
arc: G_LDCC0CLKI G_JLLQPCLKCIB0

.tile MIB_R50C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R51C0:PICL1_DQS0
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R52C0:PICL2_DQS1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R70C67:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0000

.tile MIB_R70C68:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0000

.tile MIB_R95C101:PICB0
unknown: F0B1

.tile MIB_R95C102:PICB1
unknown: F0B1

.tile MIB_R95C103:PICB0
unknown: F0B1

.tile MIB_R95C104:PICB1
unknown: F0B1

.tile MIB_R95C105:PICB0
unknown: F0B1

.tile MIB_R95C106:PICB1
unknown: F0B1

.tile MIB_R95C107:PICB0
unknown: F0B1

.tile MIB_R95C108:PICB1
unknown: F0B1

.tile MIB_R95C110:PICB0
unknown: F0B1

.tile MIB_R95C111:PICB1
unknown: F0B1

.tile MIB_R95C112:PICB0
unknown: F0B1

.tile MIB_R95C113:PICB1
unknown: F0B1

.tile MIB_R95C114:PICB0
unknown: F0B1

.tile MIB_R95C115:PICB1
unknown: F0B1

.tile MIB_R95C116:PICB0
unknown: F0B1

.tile MIB_R95C117:PICB1
unknown: F0B1

.tile MIB_R95C119:PICB0
unknown: F0B1

.tile MIB_R95C120:PICB1
unknown: F0B1

.tile MIB_R95C121:PICB0
unknown: F0B1

.tile MIB_R95C122:PICB1
unknown: F0B1

.tile MIB_R95C1:BANKREF6
enum: BANK.VCCIO 1V8

.tile MIB_R95C4:EFB0_PICB0
enum: JTAG.ER1 ENABLED
enum: JTAG.ER2 ENABLED
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R95C96:PICB0
unknown: F0B1

.tile MIB_R95C97:PICB1
unknown: F0B1

.tile MIB_R95C98:PICB0
unknown: F0B1

.tile MIB_R95C99:PICB1
unknown: F0B1

.tile R12C10:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R12C16:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R12C7:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R14C114:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R14C3:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R18C10:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R18C16:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R18C7:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R20C114:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R20C3:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R24C10:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R24C16:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R24C58:PLC2
word: SLICED.K0.INIT 0000000000000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1

.tile R24C7:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R26C114:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R26C3:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R2C114:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R2C3:PLC2
arc: N1_V01N0101 S3_V06N0203

.tile R30C10:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R30C16:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R30C7:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R32C114:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R32C3:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R36C10:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R36C16:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R36C7:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R38C102:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R38C108:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R38C114:PLC2
arc: N3_V06N0003 W3_H06E0003

.tile R38C12:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R38C18:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R38C24:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R38C2:PLC2
arc: H00R0000 E1_H02W0601
arc: V00B0000 V02N0201
arc: CE1 H00R0000
arc: CE3 S1_V02N0601
arc: CLK0 G_HPBX0000
arc: E1_H02E0201 Q2
arc: E1_H02E0401 Q6
arc: M2 V00B0000
arc: M6 V00T0000
arc: MUXCLK1 CLK0
arc: MUXCLK3 CLK0
arc: V00T0000 Q2
arc: V01S0000 Q6
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R38C30:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R38C36:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R38C3:PLC2
arc: V00T0000 H02E0201
arc: CE3 H02W0101
arc: CLK0 G_HPBX0000
arc: LSR1 E1_H02W0301
arc: M6 V00T0000
arc: MUXCLK3 CLK0
arc: MUXLSR3 LSR1
arc: N3_V06N0303 Q6
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R38C42:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R38C48:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R38C4:PLC2
arc: H00L0100 S1_V02N0301
arc: W1_H02W0101 S1_V02N0101
arc: W1_H02W0601 S1_V02N0601
arc: CE0 H00L0100
arc: CE2 S1_V02N0601
arc: CLK0 G_HPBX0000
arc: E1_H02E0101 Q1
arc: H00R0000 Q4
arc: M1 H00R0000
arc: M4 W1_H02E0401
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: S1_V02S0601 Q4
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R38C54:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R38C5:PLC2
arc: E1_H02E0301 S1_V02N0301
arc: W1_H02W0301 S1_V02N0301

.tile R38C60:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R38C66:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R38C6:PLC2
arc: V00T0100 W1_H02E0101
arc: CE1 S1_V02N0201
arc: CLK0 G_HPBX0000
arc: E3_H06E0103 Q2
arc: LSR0 H02E0301
arc: M2 V00T0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR0
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R38C72:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R38C78:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R38C84:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R38C90:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R38C96:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R39C2:PLC2
arc: E1_H02E0601 N1_V01S0000
arc: N1_V02N0201 E1_H02W0201

.tile R39C3:PLC2
arc: CE0 H02W0101
arc: CLK0 G_HPBX0000
arc: LSR0 E1_H02W0301
arc: M0 H02E0601
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: S3_V06S0003 Q0
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R39C4:PLC2
arc: V00T0000 V02S0601
arc: W1_H02W0101 V02N0101
arc: W1_H02W0201 S3_V06N0103
arc: CE1 V02N0201
arc: CLK0 G_HPBX0000
arc: LSR0 H02W0301
arc: M2 V00T0000
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR0
arc: W3_H06W0103 Q2
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R39C5:PLC2
arc: W1_H02W0301 V02N0301

.tile R40C2:PLC2
arc: N1_V02N0601 S1_V02N0301

.tile R40C4:PLC2
arc: E1_H02E0201 S3_V06N0103
arc: N1_V02N0101 S3_V06N0103
arc: N1_V02N0201 S3_V06N0103
arc: N1_V02N0301 S1_V02N0301
arc: N1_V02N0601 S1_V02N0301
arc: D2 S1_V02N0001
arc: E1_H01E0101 F2
arc: F2 F2_SLICE
word: SLICEB.K0.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1

.tile R40C5:PLC2
arc: N1_V02N0301 H01E0101

.tile R40C6:PLC2
arc: N1_V02N0201 W1_H02E0201

.tile R42C10:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: N3_V06N0003 W3_H06E0003

.tile R42C16:PLC2
arc: N3_V06N0003 W3_H06E0003

.tile R42C2:PLC2
arc: N1_V02N0301 E1_H02W0301

.tile R42C4:PLC2
arc: N1_V02N0001 S1_V02N0501
arc: B0 S1_V02N0301
arc: C0 V02N0401
arc: C3 S1_V02N0601
arc: D0 S1_V02N0001
arc: D3 S1_V02N0201
arc: E3_H06E0003 F0
arc: F0 F0_SLICE
arc: F3 F3_SLICE
arc: N1_V02N0301 F3
arc: W1_H02W0301 F3
word: SLICEA.K0.INIT 1100000000000000
word: SLICEB.K1.INIT 1111000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1

.tile R42C7:PLC2
arc: N3_V06N0003 H06E0003

.tile R43C4:PLC2
arc: N1_V02N0401 S1_V02N0101

.tile R44C4:PLC2
arc: N1_V02N0001 S3_V06N0003
arc: N1_V02N0201 S1_V02N0201
arc: N1_V02N0301 S1_V02N0201
arc: N1_V02N0501 S3_V06N0303
arc: N1_V02N0601 S3_V06N0303

.tile R45C3:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R45C4:PLC2
arc: N1_V02N0101 S3_V06N0103
arc: N3_V06N0103 S3_V06N0103

.tile R4C10:PLC2
arc: N3_V06N0203 S1_V02N0401

.tile R4C16:PLC2
arc: N3_V06N0203 S1_V02N0701

.tile R4C7:PLC2
arc: N3_V06N0303 S1_V02N0601

.tile R50C3:PLC2
arc: W1_H02W0001 S1_V02N0001

.tile R50C4:PLC2
arc: N3_V06N0003 S1_V02N0301
arc: N3_V06N0303 S3_V06N0203

.tile R51C3:PLC2
arc: V01S0000 N3_V06S0103

.tile R51C4:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R52C3:PLC2
arc: N1_V02N0001 S3_V06N0003
arc: W1_H02W0601 N1_V01S0000

.tile R52C4:PLC2
arc: N1_V02N0301 S3_V06N0003
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0103

.tile R56C4:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R57C4:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R62C4:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R63C4:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R64C3:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R64C4:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R68C4:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R69C4:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R6C10:PLC2
arc: N1_V02N0401 S3_V06N0203

.tile R6C16:PLC2
arc: N1_V02N0701 S3_V06N0203

.tile R6C7:PLC2
arc: N1_V02N0601 S3_V06N0303

.tile R74C4:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R75C4:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R76C3:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R76C4:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0303

.tile R80C4:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R81C4:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R86C4:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R87C4:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R88C3:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R88C4:PLC2
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0303

.tile R8C114:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R8C3:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R92C4:PLC2
arc: N3_V06N0303 S1_V02N0601

.tile R93C4:PLC2
arc: N3_V06N0303 V01N0101

.tile TAP_R38C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R39C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

