# RGB-Array
LOCATE COMP "rgbRow[0]" SITE "B6";
LOCATE COMP "rgbRow[1]" SITE "J3";
LOCATE COMP "rgbRow[2]" SITE "K3";
LOCATE COMP "rgbRow[3]" SITE "B17";
LOCATE COMP "red[0]" SITE "A7";
LOCATE COMP "red[1]" SITE "C6";
LOCATE COMP "red[2]" SITE "D13";
LOCATE COMP "red[3]" SITE "B12";
LOCATE COMP "red[4]" SITE "C11";
LOCATE COMP "red[5]" SITE "C10";
LOCATE COMP "red[6]" SITE "E9";
LOCATE COMP "red[7]" SITE "B9";
LOCATE COMP "red[8]" SITE "C8";
LOCATE COMP "red[9]" SITE "E7";
LOCATE COMP "green[0]" SITE "C7";
LOCATE COMP "green[1]" SITE "D6";
LOCATE COMP "green[2]" SITE "E13";
LOCATE COMP "green[3]" SITE "C12";
LOCATE COMP "green[4]" SITE "E11";
LOCATE COMP "green[5]" SITE "A11";
LOCATE COMP "green[6]" SITE "A10";
LOCATE COMP "green[7]" SITE "A9";
LOCATE COMP "green[8]" SITE "D8";
LOCATE COMP "green[9]" SITE "B8";
LOCATE COMP "blue[0]" SITE "E6";
LOCATE COMP "blue[1]" SITE "J4";
LOCATE COMP "blue[2]" SITE "D12";
LOCATE COMP "blue[3]" SITE "D11";
LOCATE COMP "blue[4]" SITE "B11";
LOCATE COMP "blue[5]" SITE "B10";
LOCATE COMP "blue[6]" SITE "D9";
LOCATE COMP "blue[7]" SITE "E8";
LOCATE COMP "blue[8]" SITE "A8";
LOCATE COMP "blue[9]" SITE "D7";
IOBUF PORT "rgbRow[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "rgbRow[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "rgbRow[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "rgbRow[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
