# Switches

LOCATE COMP "switches[0]" SITE "D19";
IOBUF PORT "switches[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "switches[1]" SITE "D17";
IOBUF PORT "switches[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "switches[2]" SITE "J16";
IOBUF PORT "switches[2]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "switches[3]" SITE "H16";
IOBUF PORT "switches[3]" PULLMODE=UP IO_TYPE=LVCMOS18;

# Buttons

LOCATE COMP "buttons[0]" SITE "M18";
IOBUF PORT "buttons[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "buttons[1]" SITE "M17";
IOBUF PORT "buttons[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "buttons[2]" SITE "L18";
IOBUF PORT "buttons[2]" PULLMODE=UP IO_TYPE=LVCMOS18;

# LEDs
LOCATE COMP "LEDS[0]" SITE "A7";
IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS[1]" SITE "C7";
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS[2]" SITE "E6";
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS18;


LOCATE COMP "LEDS[3]" SITE "C6";
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS[4]" SITE "D6";
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS[5]" SITE "J4";
IOBUF PORT "LEDS[5]" IO_TYPE=LVCMOS18;

LOCATE COMP "LEDS[6]" SITE "D13";
IOBUF PORT "LEDS[6]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS[7]" SITE "E13";
IOBUF PORT "LEDS[7]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS[8]" SITE "D12";
IOBUF PORT "LEDS[8]" IO_TYPE=LVCMOS18;

LOCATE COMP "LEDS_columns[0]" SITE "B6";
IOBUF PORT "LEDS_columns[0]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS_columns[1]" SITE "J3";
IOBUF PORT "LEDS_columns[1]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS_columns[2]" SITE "K3";
IOBUF PORT "LEDS_columns[2]" IO_TYPE=LVCMOS18;
LOCATE COMP "LEDS_columns[3]" SITE "B17";
IOBUF PORT "LEDS_columns[3]" IO_TYPE=LVCMOS18;
