.device LFE5U-85F

.comment Part: LFE5U-85F-6CABGA381

.tile CIB_R10C10:CIB_DSP
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R10C4:CIB_DSP
arc: N3_V06N0303 S3_V06N0303

.tile CIB_R10C7:CIB_DSP
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R15C1:CIB_LR
arc: S3_V06S0203 N3_V06S0203

.tile CIB_R1C10:CIB
arc: E1_H02E0501 V02N0501

.tile CIB_R1C114:CIB
arc: JA0 V02N0701
enum: CIB.JB0MUX 0

.tile CIB_R1C11:CIB
arc: JA0 S1_V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C12:CIB
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C18:CIB
arc: JA0 V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C5:CIB
arc: H00R0000 S1_V02N0401
arc: JA0 H00R0000
enum: CIB.JB0MUX 0

.tile CIB_R1C6:CIB
arc: JA0 V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C72:CIB
arc: E1_H02E0501 S1_V02N0501

.tile CIB_R1C74:CIB
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C7:CIB
arc: JA0 S1_V02N0701
enum: CIB.JB0MUX 0

.tile CIB_R1C80:CIB
arc: JA0 V02N0501
enum: CIB.JB0MUX 0

.tile CIB_R1C81:CIB
arc: JA0 V02N0701
enum: CIB.JB0MUX 0

.tile CIB_R21C1:CIB_LR
arc: S3_V06S0203 N3_V06S0203

.tile CIB_R22C10:CIB_EBR
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R22C4:CIB_EBR
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R22C7:CIB_EBR
arc: N3_V06N0003 S3_V06N0303

.tile CIB_R27C1:CIB_LR
arc: S3_V06S0203 N3_V06S0203

.tile CIB_R33C1:CIB_LR
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R34C10:CIB_DSP
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R34C4:CIB_DSP
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R34C7:CIB_DSP
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R39C1:CIB_LR
arc: S3_V06S0303 N3_V06S0303

.tile CIB_R3C1:CIB_LR
arc: S3_V06S0103 E1_H01W0100

.tile CIB_R45C1:CIB_LR
arc: S3_V06S0303 N3_V06S0303

.tile CIB_R46C10:CIB_EBR
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R46C4:CIB_EBR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R46C7:CIB_EBR
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R48C1:CIB_LR
arc: S1_V02S0701 H02W0701

.tile CIB_R50C1:CIB_LR
arc: JA0 N1_V02S0701
arc: JD7 S1_V02N0401
arc: S1_V02S0501 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R51C1:CIB_LR
arc: S1_V02S0501 N3_V06S0303

.tile CIB_R52C1:CIB_LR
arc: JA0 V02S0501
arc: JA3 N1_V02S0501
arc: N1_V02N0401 H06W0203
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R58C10:CIB_DSP
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R58C4:CIB_DSP
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R58C7:CIB_DSP
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R5C125:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C10:CIB_EBR
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R70C4:CIB_EBR
arc: N1_V02N0101 S3_V06N0103
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R70C7:CIB_EBR
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R82C10:CIB_EBR
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R82C4:CIB_EBR
arc: N1_V02N0101 S3_V06N0103
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R82C7:CIB_EBR
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R94C10:CIB
arc: N3_V06N0303 W3_H06E0303

.tile CIB_R94C123:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C46:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C47:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C48:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C49:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C4:CIB
arc: E3_H06E0303 JF5
arc: JA4 E1_H02W0501
arc: JB4 V02S0501
arc: N1_V01N0101 JF5
arc: N1_V02N0601 JF6
arc: N1_V02N0701 JF7
arc: N3_V06N0003 JQ3
arc: N3_V06N0103 JQ1
arc: N3_V06N0203 JF4
arc: N3_V06N0303 JQ5

.tile CIB_R94C50:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C51:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C52:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C53:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C54:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C55:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C56:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C57:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R94C6:CIB_EFB0
arc: W1_H02W0501 N1_V02S0501
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C71:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C72:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C73:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C74:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C75:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C76:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C77:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C78:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C79:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R94C80:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C81:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C82:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R9C1:CIB_LR
arc: S3_V06S0203 N3_V06S0103

.tile MIB_R0C114:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C11:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C123:BANKREF1
enum: BANK.VCCIO 1V8

.tile MIB_R0C12:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C18:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C3:BANKREF0
enum: BANK.VCCIO 1V8

.tile MIB_R0C5:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C6:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C74:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C7:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C80:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C81:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C114:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C11:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C12:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C18:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C5:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C6:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C74:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C7:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C80:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C81:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R22C12:EBR_SPINE_UL2
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R22C67:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0000

.tile MIB_R22C68:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0000

.tile MIB_R46C3:LMID_0
arc: G_LDCC0CLKI G_JLLQPCLKCIB0

.tile MIB_R50C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R51C0:PICL1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R52C0:PICL2_DQS1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R70C67:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0000

.tile MIB_R70C68:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0000

.tile MIB_R95C101:PICB0
unknown: F0B1

.tile MIB_R95C102:PICB1
unknown: F0B1

.tile MIB_R95C103:PICB0
unknown: F0B1

.tile MIB_R95C104:PICB1
unknown: F0B1

.tile MIB_R95C105:PICB0
unknown: F0B1

.tile MIB_R95C106:PICB1
unknown: F0B1

.tile MIB_R95C107:PICB0
unknown: F0B1

.tile MIB_R95C108:PICB1
unknown: F0B1

.tile MIB_R95C110:PICB0
unknown: F0B1

.tile MIB_R95C111:PICB1
unknown: F0B1

.tile MIB_R95C112:PICB0
unknown: F0B1

.tile MIB_R95C113:PICB1
unknown: F0B1

.tile MIB_R95C114:PICB0
unknown: F0B1

.tile MIB_R95C115:PICB1
unknown: F0B1

.tile MIB_R95C116:PICB0
unknown: F0B1

.tile MIB_R95C117:PICB1
unknown: F0B1

.tile MIB_R95C119:PICB0
unknown: F0B1

.tile MIB_R95C120:PICB1
unknown: F0B1

.tile MIB_R95C121:PICB0
unknown: F0B1

.tile MIB_R95C122:PICB1
unknown: F0B1

.tile MIB_R95C1:BANKREF6
enum: BANK.VCCIO 1V8

.tile MIB_R95C4:EFB0_PICB0
enum: JTAG.ER1 ENABLED
enum: JTAG.ER2 ENABLED
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R95C96:PICB0
unknown: F0B1

.tile MIB_R95C97:PICB1
unknown: F0B1

.tile MIB_R95C98:PICB0
unknown: F0B1

.tile MIB_R95C99:PICB1
unknown: F0B1

.tile R12C4:PLC2
arc: N3_V06N0003 S1_V02N0001
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R14C10:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103

.tile R14C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R14C4:PLC2
arc: N1_V02N0001 S3_V06N0003
arc: N3_V06N0303 S3_V06N0203

.tile R14C6:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R14C74:PLC2
word: SLICEC.K1.INIT 0000000000000000
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1

.tile R15C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R15C4:PLC2
arc: N3_V06N0303 S3_V06N0203
arc: S3_V06S0203 N3_V06S0103

.tile R16C10:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103

.tile R16C4:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R16C7:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R18C4:PLC2
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile R20C10:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0103

.tile R20C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R20C4:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0203

.tile R20C6:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R21C2:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R21C4:PLC2
arc: N3_V06N0203 S3_V06N0103
arc: S3_V06S0203 N3_V06S0203

.tile R24C4:PLC2
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile R26C10:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0303 S3_V06N0203

.tile R26C2:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R26C4:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0303

.tile R26C6:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R27C2:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R27C4:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: S3_V06S0203 N3_V06S0203

.tile R28C10:PLC2
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R28C4:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R28C7:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R2C105:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R2C10:PLC2
arc: N1_V02N0501 W3_H06E0303
arc: V01S0100 S3_V06N0303
arc: W1_H02W0101 S3_V06N0103
arc: W1_H02W0201 W3_H06E0103

.tile R2C111:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R2C114:PLC2
arc: N1_V02N0701 H06E0203

.tile R2C12:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C14:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: E3_H06E0203 W3_H06E0203

.tile R2C15:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C18:PLC2
arc: N1_V02N0501 W3_H06E0303

.tile R2C20:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: E3_H06E0203 W3_H06E0203

.tile R2C21:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C26:PLC2
arc: E3_H06E0203 W3_H06E0103
arc: E3_H06E0303 W3_H06E0203

.tile R2C27:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C2:PLC2
arc: H00R0000 E1_H02W0601
arc: S1_V02S0601 E1_H02W0601
arc: B0 V02N0301
arc: C0 N1_V01N0001
arc: CE0 H00R0000
arc: CE1 V02N0201
arc: CLK0 G_HPBX0000
arc: D0 H02W0201
arc: F0 F0_SLICE
arc: LSR0 E1_H02W0301
arc: LSR1 E1_H02W0301
arc: M2 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR1 LSR1
arc: N1_V01N0001 Q2
arc: S3_V06S0103 Q2
arc: V00T0000 Q0
arc: V01S0000 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R2C32:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: E3_H06E0303 W3_H06E0203

.tile R2C33:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C38:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: E3_H06E0303 W3_H06E0303

.tile R2C39:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C3:PLC2
arc: H00R0000 H02W0601
arc: S1_V02S0601 H02W0601
arc: A0 H02W0501
arc: C0 V02N0601
arc: CE0 H00R0000
arc: CE2 E1_H02W0101
arc: CLK0 G_HPBX0000
arc: D0 V00B0100
arc: E3_H06E0303 Q5
arc: F0 F0_SLICE
arc: LSR0 H02W0301
arc: M5 V01S0000
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR2 LSR0
arc: V00B0100 Q5
arc: V01S0000 Q0
arc: W1_H02W0201 Q0
word: SLICEA.K0.INIT 1111010110100000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.B0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R2C44:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: E3_H06E0203 W3_H06E0103

.tile R2C45:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C4:PLC2
arc: E1_H02E0001 S1_V02N0001
arc: E1_H02E0501 V01N0101
arc: E1_H02E0601 S1_V02N0601
arc: E3_H06E0103 V01N0101
arc: H00R0000 E1_H02W0601
arc: S1_V02S0501 S3_V06N0303
arc: W1_H02W0301 V01N0101
arc: W1_H02W0501 S1_V02N0501
arc: W1_H02W0601 S3_V06N0303
arc: A0 S1_V02N0501
arc: C0 E1_H01W0000
arc: CE0 H00R0000
arc: CE2 S1_V02N0601
arc: CLK0 G_HPBX0000
arc: D0 V00B0100
arc: E1_H02E0201 Q0
arc: E3_H06E0303 Q5
arc: F0 F0_SLICE
arc: LSR0 E1_H02W0501
arc: LSR1 E1_H02W0501
arc: M5 V01S0000
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR2 LSR0
arc: V00B0100 Q5
arc: V01S0000 Q0
word: SLICEA.K0.INIT 1111010110100000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.B0MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R2C50:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: E3_H06E0303 W3_H06E0203

.tile R2C51:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C56:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: E3_H06E0103 W3_H06E0003

.tile R2C57:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C5:PLC2
arc: H00R0000 H02E0601
arc: H00R0100 S1_V02N0501
arc: W1_H02W0101 V02N0101
arc: B0 V02N0301
arc: C0 N1_V01N0001
arc: CE0 H00R0100
arc: CE2 H00R0000
arc: CLK0 G_HPBX0000
arc: D0 V02N0001
arc: E1_H01E0101 Q4
arc: F0 F0_SLICE
arc: H01W0000 Q0
arc: LSR1 H02E0501
arc: M4 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR2 LSR1
arc: N1_V01N0001 Q4
arc: V00T0000 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R2C62:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: E3_H06E0203 W3_H06E0103

.tile R2C63:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C68:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: E3_H06E0303 W3_H06E0203

.tile R2C69:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C6:PLC2
arc: E1_H02E0001 W1_H02E0001
arc: E1_H02E0601 S1_V02N0601
arc: E1_H02E0701 W1_H02E0601
arc: H00R0000 W1_H02E0601
arc: H00R0100 S1_V02N0501
arc: N1_V02N0501 H01E0101
arc: W1_H02W0501 V02N0501
arc: W1_H02W0601 S1_V02N0601
arc: B0 V02N0301
arc: C0 N1_V01N0001
arc: CE0 H00R0100
arc: CE1 E1_H02W0101
arc: CE3 H00R0000
arc: CLK0 G_HPBX0000
arc: D0 W1_H02E0201
arc: E3_H06E0303 Q6
arc: F0 F0_SLICE
arc: H00L0000 Q0
arc: LSR0 E1_H02W0501
arc: LSR1 W1_H02E0501
arc: M3 H00L0000
arc: M6 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR1 LSR0
arc: MUXLSR3 LSR1
arc: N1_V01N0001 Q6
arc: S3_V06S0003 Q3
arc: V00T0000 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R2C74:PLC2
arc: E3_H06E0203 W3_H06E0103
arc: E3_H06E0303 W3_H06E0303

.tile R2C75:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R2C7:PLC2
arc: C2 S1_V02N0401
arc: D2 H02E0001
arc: E1_H01E0101 F2
arc: F2 F2_SLICE
word: SLICEB.K0.INIT 1111000000000000
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1

.tile R2C80:PLC2
arc: E1_H01E0101 W3_H06E0203
arc: N1_V02N0501 W3_H06E0303

.tile R2C81:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: N1_V02N0701 H01E0101

.tile R2C87:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R2C8:PLC2
arc: H00R0000 W1_H02E0601
arc: H00R0100 W1_H02E0701
arc: S1_V02S0701 W1_H02E0701
arc: V00T0000 H02W0201
arc: V00T0100 V02N0501
arc: W1_H02W0101 H01E0101
arc: W1_H02W0501 V02N0501
arc: B0 E1_H02W0101
arc: C0 E1_H01W0000
arc: CE0 H00R0000
arc: CE2 H00R0100
arc: CLK0 G_HPBX0000
arc: D0 V00B0100
arc: E1_H02E0401 Q4
arc: E3_H06E0203 Q4
arc: E3_H06E0303 Q5
arc: F0 F0_SLICE
arc: LSR0 V00T0100
arc: LSR1 V00T0100
arc: M4 V00T0000
arc: M5 V01S0000
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR2 LSR0
arc: V00B0100 Q5
arc: V01S0000 Q0
word: SLICEA.K0.INIT 1111001111000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R2C93:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R2C99:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R2C9:PLC2
arc: E3_H06E0303 W3_H06E0303
arc: S1_V02S0101 H02W0101
arc: V00T0000 H02W0201
arc: B0 H02W0101
arc: C0 H02E0401
arc: CE0 S1_V02N0201
arc: CLK0 G_HPBX0000
arc: D0 V02N0201
arc: F0 F0_SLICE
arc: H01W0000 Q0
arc: LSR1 V00T0000
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: W1_H02W0201 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1

.tile R30C4:PLC2
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile R32C10:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0103

.tile R32C2:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R32C4:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0303

.tile R32C6:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R33C2:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R33C4:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: S3_V06S0203 N3_V06S0203

.tile R36C4:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203

.tile R38C10:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0303 S3_V06N0303

.tile R38C2:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R38C4:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0303

.tile R38C6:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R39C2:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R39C4:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: S3_V06S0303 N3_V06S0203

.tile R3C10:PLC2
arc: W1_H02W0101 N1_V01S0100

.tile R3C11:PLC2
arc: N1_V02N0501 W3_H06E0303

.tile R3C15:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R3C21:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R3C27:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R3C2:PLC2
arc: H00R0000 V02S0601
arc: N1_V02N0201 E1_H02W0201
arc: N1_V02N0301 E1_H02W0301
arc: S3_V06S0103 E3_H06W0103
arc: B0 E1_H02W0301
arc: C0 H00L0000
arc: CE0 H00R0000
arc: CE1 E1_H02W0101
arc: CLK0 G_HPBX0000
arc: D0 N1_V01S0000
arc: E1_H02E0201 Q0
arc: F0 F0_SLICE
arc: H00L0000 Q2
arc: H01W0100 Q2
arc: LSR1 E1_H02W0501
arc: M2 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR1 LSR1
arc: V00T0000 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R3C33:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R3C39:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R3C3:PLC2
arc: H00R0000 V02S0601
arc: N1_V02N0601 H02W0601
arc: B0 H02W0301
arc: C0 N1_V01N0001
arc: CE0 H00R0000
arc: CE3 H02W0101
arc: CLK0 G_HPBX0000
arc: D0 H02E0201
arc: E1_H01E0001 Q0
arc: E1_H02E0401 Q6
arc: F0 F0_SLICE
arc: LSR1 H02W0501
arc: M6 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR3 LSR1
arc: N1_V01N0001 Q6
arc: V00T0000 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R3C45:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R3C4:PLC2
arc: E1_H02E0101 V06N0103
arc: E1_H02E0301 V06N0003
arc: W1_H02W0101 V06N0103
arc: W1_H02W0201 V06N0103
arc: W1_H02W0301 V06N0003
arc: W1_H02W0601 S3_V06N0303
arc: A0 V02S0501
arc: C0 V02N0401
arc: CE0 H00L0000
arc: CLK0 G_HPBX0000
arc: D0 V02N0001
arc: D5 V02N0401
arc: E1_H02E0501 F5
arc: F0 F0_SLICE
arc: F5 F5_SLICE
arc: H00L0000 F0
arc: M0 H01E0001
arc: MUXCLK0 CLK0
arc: N1_V01N0101 F5
arc: S3_V06S0003 Q0
arc: W1_H02W0501 F5
word: SLICEC.K1.INIT 0000000011111111
word: SLICEA.K0.INIT 1010000000000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.B0MUX 1

.tile R3C51:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R3C57:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R3C5:PLC2
arc: H00R0100 V02N0501
arc: N1_V02N0101 H02E0101
arc: N1_V02N0301 H02E0301
arc: N1_V02N0401 W1_H02E0401
arc: B0 H02E0301
arc: C0 E1_H01W0000
arc: CE0 H00R0100
arc: CE3 H02E0101
arc: CLK0 G_HPBX0000
arc: D0 H00R0000
arc: E3_H06E0303 Q6
arc: F0 F0_SLICE
arc: H00R0000 Q6
arc: LSR0 H02E0501
arc: M6 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR3 LSR0
arc: N1_V02N0001 Q0
arc: V00T0000 Q0
word: SLICEA.K0.INIT 1111001111000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R3C63:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R3C69:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R3C6:PLC2
arc: E1_H02E0301 W1_H02E0301
arc: E1_H02E0501 W1_H02E0501
arc: E1_H02E0601 V02N0601
arc: H00R0000 V02N0601
arc: N1_V02N0301 W1_H02E0301
arc: N1_V02N0501 W1_H02E0501
arc: B0 W1_H02E0301
arc: C0 N1_V01N0001
arc: CE0 H00R0000
arc: CE1 W1_H02E0101
arc: CLK0 G_HPBX0000
arc: D0 E1_H02W0001
arc: E1_H01E0101 Q2
arc: F0 F0_SLICE
arc: H01W0000 Q0
arc: LSR1 W1_H02E0501
arc: M2 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR1 LSR1
arc: N1_V01N0001 Q2
arc: V00T0000 Q0
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R3C72:PLC2
arc: N1_V02N0501 H06E0303

.tile R3C7:PLC2
arc: N1_V02N0701 H01E0101

.tile R3C8:PLC2
arc: E1_H02E0501 W1_H02E0501
arc: H00R0000 W1_H02E0601
arc: H00R0100 V02S0701
arc: N1_V02N0501 W1_H02E0501
arc: B0 W1_H02E0301
arc: C0 N1_V01N0001
arc: CE0 H00R0000
arc: CE1 H00R0100
arc: CLK0 G_HPBX0000
arc: D0 N1_V01S0000
arc: F0 F0_SLICE
arc: LSR0 W1_H02E0501
arc: LSR1 W1_H02E0501
arc: M2 V00T0000
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR1 LSR1
arc: N1_V01N0001 Q2
arc: V00T0000 Q0
arc: W1_H02W0001 Q0
arc: W3_H06W0103 Q2
word: SLICEA.K0.INIT 1111110000110000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R3C9:PLC2
arc: B0 V02S0101
arc: C0 V02N0401
arc: CE0 V02N0201
arc: CE2 H02W0101
arc: CLK0 G_HPBX0000
arc: D0 V00B0100
arc: E3_H06E0303 Q5
arc: F0 F0_SLICE
arc: LSR0 H02E0501
arc: LSR1 H02E0501
arc: M5 V01S0000
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR2 LSR1
arc: N1_V02N0201 Q0
arc: V00B0100 Q5
arc: V01S0000 Q0
word: SLICEA.K0.INIT 1111001111000000
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R40C10:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0203

.tile R40C4:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R40C7:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R42C4:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S1_V02N0701

.tile R44C10:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0303 W3_H06E0303

.tile R44C2:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R44C4:PLC2
arc: E3_H06E0303 S3_V06N0303
arc: N1_V02N0701 S3_V06N0203
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0303

.tile R44C6:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R45C2:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R45C4:PLC2
arc: N3_V06N0303 S3_V06N0303
arc: S3_V06S0303 N3_V06S0303

.tile R48C2:PLC2
arc: W1_H02W0701 V06S0203

.tile R48C4:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R4C10:PLC2
arc: W1_H02W0201 S3_V06N0103
arc: W1_H02W0401 S3_V06N0203

.tile R4C4:PLC2
arc: E1_H02E0501 S3_V06N0303
arc: E1_H02E0601 S3_V06N0303
arc: N1_V02N0001 S1_V02N0501
arc: N1_V02N0401 S1_V02N0101
arc: N1_V02N0501 S1_V02N0501
arc: N1_V02N0601 S1_V02N0301

.tile R4C5:PLC2
arc: N1_V02N0501 H02E0501

.tile R4C6:PLC2
arc: N1_V02N0501 W1_H02E0501
arc: N1_V02N0601 W1_H02E0601

.tile R4C7:PLC2
arc: N1_V02N0401 S3_V06N0203

.tile R4C9:PLC2
arc: N1_V02N0201 H02W0201
arc: N1_V02N0401 H02W0401

.tile R50C10:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R50C2:PLC2
arc: W1_H02W0501 N3_V06S0303

.tile R50C4:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0303

.tile R50C6:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R51C4:PLC2
arc: N3_V06N0303 S3_V06N0303
arc: S3_V06S0303 N3_V06S0303

.tile R52C10:PLC2
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R52C4:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: W3_H06W0203 S3_V06N0203

.tile R52C7:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R54C4:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R56C10:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R56C4:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0303 S3_V06N0203

.tile R56C6:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R57C4:PLC2
arc: N3_V06N0303 S3_V06N0203
arc: S3_V06S0003 N3_V06S0303

.tile R60C4:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R62C10:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R62C4:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R62C6:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R63C4:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: S3_V06S0103 N3_V06S0003

.tile R64C10:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0103

.tile R64C4:PLC2
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R64C7:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R66C4:PLC2
arc: N3_V06N0103 S1_V02N0101

.tile R68C10:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R68C4:PLC2
arc: N1_V02N0101 S3_V06N0103
arc: N3_V06N0103 S1_V02N0101
arc: N3_V06N0203 S3_V06N0203
arc: N3_V06N0303 S3_V06N0303

.tile R68C6:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R69C4:PLC2
arc: N3_V06N0203 S3_V06N0203
arc: S3_V06S0103 N3_V06S0103

.tile R6C4:PLC2
arc: N1_V02N0101 S3_V06N0103
arc: N1_V02N0301 S3_V06N0003
arc: N1_V02N0501 S3_V06N0303
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0003

.tile R74C10:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R74C4:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R74C6:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R75C4:PLC2
arc: N3_V06N0203 S3_V06N0103
arc: S3_V06S0203 N3_V06S0103

.tile R76C10:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103

.tile R76C4:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: N3_V06N0103 S3_V06N0103
arc: N3_V06N0203 S3_V06N0203

.tile R76C7:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R80C10:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R80C4:PLC2
arc: N3_V06N0003 S3_V06N0003
arc: N3_V06N0103 S1_V02N0101
arc: N3_V06N0203 S3_V06N0203

.tile R80C6:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R81C4:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: S3_V06S0303 N3_V06S0203

.tile R86C10:PLC2
arc: N3_V06N0203 W3_H06E0203

.tile R86C4:PLC2
arc: E3_H06E0203 S3_V06N0203
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0203 S3_V06N0203

.tile R86C6:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R87C4:PLC2
arc: N3_V06N0003 S3_V06N0303
arc: S3_V06S0303 N3_V06S0303

.tile R88C10:PLC2
arc: N3_V06N0103 W3_H06E0103
arc: N3_V06N0303 S3_V06N0303

.tile R88C4:PLC2
arc: E3_H06E0103 S3_V06N0103
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103
arc: N3_V06N0303 S3_V06N0203

.tile R88C7:PLC2
arc: N3_V06N0103 H06E0103

.tile R8C10:PLC2
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0303 S3_V06N0203

.tile R8C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R8C4:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R8C6:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R92C4:PLC2
arc: N3_V06N0203 S1_V02N0701
arc: N3_V06N0303 S1_V02N0601

.tile R92C6:PLC2
arc: S1_V02S0501 N3_V06S0303

.tile R93C4:PLC2
arc: N3_V06N0303 V01N0101
arc: S1_V02S0501 N3_V06S0303

.tile R9C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R9C4:PLC2
arc: N3_V06N0303 S3_V06N0303
arc: S3_V06S0103 N3_V06S0003

.tile TAP_R2C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R3C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

