.device LFE5U-85F

.comment Part: LFE5U-85F-6CABGA381

.tile CIB_R10C1:CIB_LR_S
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R10C4:CIB_DSP
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R16C1:CIB_LR
arc: S3_V06S0003 N3_V06S0303

.tile CIB_R1C114:CIB
enum: CIB.JB0MUX 0

.tile CIB_R1C11:CIB
arc: H00L0100 E1_H02W0101
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C12:CIB
arc: H00L0100 H02W0101
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C13:CIB
arc: W1_H02W0101 V06N0103

.tile CIB_R1C18:CIB
arc: H00L0100 H02W0301
arc: JA0 H00L0100
enum: CIB.JB0MUX 0

.tile CIB_R1C19:CIB
arc: W1_H02W0301 V06N0003

.tile CIB_R1C5:CIB
enum: CIB.JB0MUX 0

.tile CIB_R1C6:CIB
arc: JA0 H02W0701
enum: CIB.JB0MUX 0

.tile CIB_R1C73:CIB
arc: E1_H02E0701 V06N0203
arc: E3_H06E0203 V06N0203

.tile CIB_R1C74:CIB
arc: JA0 H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C79:CIB
arc: E1_H02E0701 W3_H06E0203

.tile CIB_R1C7:CIB
arc: JA0 V02N0701
arc: W1_H02W0701 V06N0203
enum: CIB.JB0MUX 0

.tile CIB_R1C80:CIB
arc: JA0 H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C81:CIB
arc: JA0 W1_H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R22C1:CIB_LR_S
arc: S3_V06S0003 N3_V06S0003

.tile CIB_R22C4:CIB_EBR
arc: S3_V06S0303 N3_V06S0303

.tile CIB_R28C1:CIB_LR
arc: S3_V06S0103 N3_V06S0003

.tile CIB_R34C1:CIB_LR_S
arc: S3_V06S0203 N3_V06S0103

.tile CIB_R34C4:CIB_DSP
arc: S3_V06S0103 N3_V06S0003

.tile CIB_R40C1:CIB_LR
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R46C1:CIB_LR_S
arc: S1_V02S0501 N3_V06S0303

.tile CIB_R46C4:CIB_EBR
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R48C1:CIB_LR
arc: S1_V02S0501 N1_V02S0501

.tile CIB_R4C1:CIB_PLL0
arc: S3_V06S0203 E3_H06W0203

.tile CIB_R50C1:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R52C1:CIB_LR
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R58C4:CIB_DSP
arc: S3_V06S0003 N3_V06S0003

.tile CIB_R5C125:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C4:CIB_EBR
arc: S3_V06S0003 N3_V06S0003

.tile CIB_R82C4:CIB_EBR
arc: S3_V06S0203 N3_V06S0103

.tile CIB_R94C123:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C46:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C47:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C48:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C49:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C4:CIB
arc: JA4 N1_V01N0101
arc: JB4 V02S0701
arc: N1_V01N0101 N3_V06S0203

.tile CIB_R94C50:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C51:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C52:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C53:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C54:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C55:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C56:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C57:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R94C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C71:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C72:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C73:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C74:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C75:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C76:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C77:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C78:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C79:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R94C80:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C81:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C82:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile MIB_R0C114:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C11:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C123:BANKREF1
enum: BANK.VCCIO 1V8

.tile MIB_R0C12:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C18:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C3:BANKREF0
enum: BANK.VCCIO 1V8

.tile MIB_R0C5:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C6:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C74:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C7:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C80:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R0C81:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C114:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C11:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C12:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C18:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C5:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C6:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C74:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C7:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C80:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R1C81:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R22C67:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R22C68:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R50C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R51C0:PICL1_DQS0
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R52C0:PICL2_DQS1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS18
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS18

.tile MIB_R70C67:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R70C68:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R95C101:PICB0
unknown: F0B1

.tile MIB_R95C102:PICB1
unknown: F0B1

.tile MIB_R95C103:PICB0
unknown: F0B1

.tile MIB_R95C104:PICB1
unknown: F0B1

.tile MIB_R95C105:PICB0
unknown: F0B1

.tile MIB_R95C106:PICB1
unknown: F0B1

.tile MIB_R95C107:PICB0
unknown: F0B1

.tile MIB_R95C108:PICB1
unknown: F0B1

.tile MIB_R95C110:PICB0
unknown: F0B1

.tile MIB_R95C111:PICB1
unknown: F0B1

.tile MIB_R95C112:PICB0
unknown: F0B1

.tile MIB_R95C113:PICB1
unknown: F0B1

.tile MIB_R95C114:PICB0
unknown: F0B1

.tile MIB_R95C115:PICB1
unknown: F0B1

.tile MIB_R95C116:PICB0
unknown: F0B1

.tile MIB_R95C117:PICB1
unknown: F0B1

.tile MIB_R95C119:PICB0
unknown: F0B1

.tile MIB_R95C120:PICB1
unknown: F0B1

.tile MIB_R95C121:PICB0
unknown: F0B1

.tile MIB_R95C122:PICB1
unknown: F0B1

.tile MIB_R95C1:BANKREF6
enum: BANK.VCCIO 1V8

.tile MIB_R95C4:EFB0_PICB0
enum: JTAG.ER1 ENABLED
enum: JTAG.ER2 ENABLED
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R95C96:PICB0
unknown: F0B1

.tile MIB_R95C97:PICB1
unknown: F0B1

.tile MIB_R95C98:PICB0
unknown: F0B1

.tile MIB_R95C99:PICB1
unknown: F0B1

.tile R16C4:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R28C4:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R2C7:PLC2
arc: N1_V02N0701 S1_V02N0701

.tile R40C4:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R4C13:PLC2
arc: N3_V06N0103 E3_H06W0103
arc: W3_H06W0203 E3_H06W0103

.tile R4C19:PLC2
arc: N3_V06N0003 E3_H06W0003
arc: W3_H06W0103 E3_H06W0003

.tile R4C25:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R4C31:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R4C37:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R4C43:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R4C49:PLC2
arc: E3_H06E0103 F1
arc: F1 F1_SLICE
arc: W3_H06W0103 F1
word: SLICEA.K1.INIT 0000000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R4C4:PLC2
arc: S3_V06S0203 H06W0203

.tile R4C55:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R4C61:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R4C67:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R4C73:PLC2
arc: N3_V06N0203 W3_H06E0203

.tile R4C7:PLC2
arc: N1_V02N0701 E3_H06W0203
arc: N3_V06N0203 E3_H06W0203
arc: W3_H06W0203 E3_H06W0203

.tile R52C4:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R64C4:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R76C4:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R88C4:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R93C4:PLC2
arc: S1_V02S0701 V01N0101

