# Switches

LOCATE COMP "switches[0]" SITE "D19";
IOBUF PORT "switches[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "switches[1]" SITE "D17";
IOBUF PORT "switches[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "switches[2]" SITE "J16";
IOBUF PORT "switches[2]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "switches[3]" SITE "H16";
IOBUF PORT "switches[3]" PULLMODE=UP IO_TYPE=LVCMOS18;

LOCATE COMP "RGB_row[1]" SITE "D18";
IOBUF PORT "RGB_row[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "RGB_row[0]" SITE "D20";
IOBUF PORT "RGB_row[0]" PULLMODE=UP IO_TYPE=LVCMOS18;

# Buttons

LOCATE COMP "buttons[0]" SITE "M18";
IOBUF PORT "buttons[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "buttons[1]" SITE "M17";
IOBUF PORT "buttons[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
LOCATE COMP "buttons[2]" SITE "L18";
IOBUF PORT "buttons[2]" PULLMODE=UP IO_TYPE=LVCMOS18;

# LEDs
LOCATE COMP "row1[0]" SITE "A7";
IOBUF PORT "row1[0]" IO_TYPE=LVCMOS18;
LOCATE COMP "row1[1]" SITE "C7";
IOBUF PORT "row1[1]" IO_TYPE=LVCMOS18;
LOCATE COMP "row1[2]" SITE "E6";
IOBUF PORT "row1[2]" IO_TYPE=LVCMOS18;


LOCATE COMP "row2[0]" SITE "C6";
IOBUF PORT "row2[0]" IO_TYPE=LVCMOS18;
LOCATE COMP "row2[1]" SITE "D6";
IOBUF PORT "row2[1]" IO_TYPE=LVCMOS18;
LOCATE COMP "row2[2]" SITE "J4";
IOBUF PORT "row2[2]" IO_TYPE=LVCMOS18;

LOCATE COMP "row3[0]" SITE "D13";
IOBUF PORT "row3[0]" IO_TYPE=LVCMOS18;
LOCATE COMP "row3[1]" SITE "E13";
IOBUF PORT "row3[1]" IO_TYPE=LVCMOS18;
LOCATE COMP "row3[2]" SITE "D12";
IOBUF PORT "row3[2]" IO_TYPE=LVCMOS18;

LOCATE COMP "RGB_Column[0]" SITE "B6";
IOBUF PORT "RGB_Column[0]" IO_TYPE=LVCMOS18;
LOCATE COMP "RGB_Column[1]" SITE "J3";
IOBUF PORT "RGB_Column[1]" IO_TYPE=LVCMOS18;
LOCATE COMP "RGB_Column[2]" SITE "K3";
IOBUF PORT "RGB_Column[2]" IO_TYPE=LVCMOS18;
LOCATE COMP "RGB_Column[3]" SITE "B17";
IOBUF PORT "RGB_Column[3]" IO_TYPE=LVCMOS18;
